In [2]:
import pandas as pd
import sqlite3
# Create your connection.
cnx = sqlite3.connect('EquityTrend.db')
df=pd.read_html('https://www.settrade.com/C13_MarketSummary.jsp?detail=SET100&order=N&industry=&sector=&market=SET&sectorName=O_SET100')

In [3]:
#df=df[2]
df[3].rename(columns = {'หลักทรัพย์':'Series','เปิด':'Open','สูงสุด':'High','ต่ำสุด':'Low','ล่าสุด':'Close','เปลี่ยนแปลง':'Change','%เปลี่ยนแปลง':'Pchange',"มูลค่า('000 บาท)":'Value'}, inplace = True)
#df=df[3]
df[3]

,Series,Open,High,Low,Close,Change,Pchange,เสนอซื้อ,เสนอขาย,ปริมาณ(หุ้น),Value
0,AAV,2.34,2.42,2.32,2.38,0.08,3.48,2.36,2.38,70364964,167041.82
1,ACE,3.70,3.76,3.66,3.72,0.02,0.54,3.70,3.72,28311671,104996.54
2,ADVANC,188.00,189.50,187.00,188.50,3.50,1.89,188.00,188.50,11331413,2134929.92
3,AEONTS,173.00,173.00,168.00,169.50,-0.50,-0.29,169.00,169.50,693213,117848.18
4,AMATA,16.80,17.10,16.50,16.80,0.00,0.00,16.70,16.80,6060985,102002.95
...,...,...,...,...,...,...,...,...,...,...,...
95,TU,15.00,15.10,14.80,14.90,-0.10,-0.67,14.80,14.90,24940189,372405.25
96,TVO,31.75,31.75,31.50,31.50,-0.25,-0.79,31.50,31.75,3574930,113031.70
97,VGI,7.80,7.80,7.55,7.60,-0.10,-1.30,7.60,7.65,15662193,120185.24
98,WHA,3.18,3.20,3.12,3.16,0.02,0.64,3.14,3.16,87203255,276059.59
99,WHAUP,4.30,4.34,4.20,4.26,0.00,0.00,4.24,4.26,10991143,47108.29

In [4]:
df1 = df[3]
df = df1.drop(df1.columns[[7,8,9]],axis='columns')
df['Series'] = df['Series'].apply(lambda x: x.replace(' <XD>',''))
df['Series'] = df['Series'].apply(lambda x: x.replace(' <XA>',''))
df['TrdDate'] = pd.to_datetime('today').date()
df

,Series,Open,High,Low,Close,Change,Pchange,Value,TrdDate
0,AAV,2.34,2.42,2.32,2.38,0.08,3.48,167041.82,2020-12-11
1,ACE,3.70,3.76,3.66,3.72,0.02,0.54,104996.54,2020-12-11
2,ADVANC,188.00,189.50,187.00,188.50,3.50,1.89,2134929.92,2020-12-11
3,AEONTS,173.00,173.00,168.00,169.50,-0.50,-0.29,117848.18,2020-12-11
4,AMATA,16.80,17.10,16.50,16.80,0.00,0.00,102002.95,2020-12-11
...,...,...,...,...,...,...,...,...,...
95,TU,15.00,15.10,14.80,14.90,-0.10,-0.67,372405.25,2020-12-11
96,TVO,31.75,31.75,31.50,31.50,-0.25,-0.79,113031.70,2020-12-11
97,VGI,7.80,7.80,7.55,7.60,-0.10,-1.30,120185.24,2020-12-11
98,WHA,3.18,3.20,3.12,3.16,0.02,0.64,276059.59,2020-12-11
99,WHAUP,4.30,4.34,4.20,4.26,0.00,0.00,47108.29,2020-12-11

In [20]:
df.iloc[:,0]

0            AAV
1            ACE
2         ADVANC
3         AEONTS
4          AMATA
         ...
95            TU
96           TVO
97           VGI
98      WHA <XD>
99    WHAUP <XD>
Name: Series, Length: 100, dtype: object

In [28]:
#df['Series'] = df.iloc[:,0].apply(lambda x : x.replace('* <XD>*',''))
df['Series'] = df['Series'].str.replace('. <XD>', '', regex=True)
df

,Series,Open,High,Low,Close,Change,Pchange,Value,TrdDate
0,AAV,2.10,2.14,2.08,2.10,0.02,0.96,75800.18,2020-11-26
1,ACE,3.62,3.80,3.58,3.78,0.16,4.42,435032.02,2020-11-26
2,ADVANC,177.50,179.50,177.00,178.50,1.50,0.85,2443796.39,2020-11-26
3,AEONTS,144.00,154.50,144.00,152.50,7.50,5.17,451385.74,2020-11-26
4,AMATA,15.60,15.80,15.50,15.60,-0.10,-0.64,72655.58,2020-11-26
...,...,...,...,...,...,...,...,...,...
95,TU,15.90,15.90,15.20,15.30,-0.40,-2.55,675349.38,2020-11-26
96,TVO,32.00,32.00,31.50,31.75,-0.50,-1.55,159487.81,2020-11-26
97,VGI,7.55,7.90,7.45,7.90,0.40,5.33,495715.43,2020-11-26
98,WHA <XD>,3.06,3.08,3.04,3.06,-0.02,-0.65,185776.32,2020-11-26
99,WHAUP <XD>,4.22,4.28,4.20,4.24,-0.02,-0.47,19482.91,2020-11-26

In [8]:
df.to_sql(name='sPriceTemp', con=cnx, if_exists='append')